.footer {
  width: 100%;
  background: #ffffff;
  border-top: 1px solid #d0cece; 
  padding: 44px 0 18px 0;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 14px;
}

.footer-links a {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-right a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.footer-right a:hover {
  text-decoration: underline;
}

.footer-social {
  display: flex;
  gap: 16px;
}

.footer-social a {
  color: #000;
  font-size: 15px;
  transition: 0.25s ease;
}

.footer-social a:hover {
  opacity: 0.7;
}

/* Mobile */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 14px;
    text-align: center;
  }
}
