
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 14px 0;
  display: flex;
  justify-content: center;
}


.navbar-inner {
  width: 92%;
  max-width: 1200px;
  background: #ffffff;
  border-radius: 14px;
  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
}


.logo-img {
  height: 60px;
  width: auto;
  display: block;
}


.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links a {
  position: relative;
  font-size: 0.92rem;
  color: #1f2937;
  font-weight: 600;
  transition: 0.25s ease;
}


.nav-links a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, #065f46, #10b981);
  transition: 0.35s ease;
  transform: translateX(-50%);
  border-radius: 2px;
}

.nav-links a:hover {
  color: #065f46;
}

.nav-links a:hover::before {
  width: 100%;
}


.hamburger {
  width: 28px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: none;
}

.hamburger span {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #065f46;
  border-radius: 3px;
  transition: 0.3s ease;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  bottom: 0;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.hamburger.open span:nth-child(2) {
  transform: rotate(-45deg);
  bottom: 8px;
}

/* MOBILE */
@media (max-width: 768px) {

  .nav-links {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    background: #ffffff;
    border-radius: 12px;
    padding: 25px;
    flex-direction: column;
    gap: 18px;
    text-align: center;
    display: none;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}